<!-- Affichage Des villes -->

<div class="container">
    <nav class="navbar-brand">
        <div class="container">
            <ul *ngIf="villes" class="navbar-brand">
                <li (click)="onGetCinemas(ville)" *ngFor="let ville of villes" class="list-group-item clickable">
                    {{ville.nom}}</li>
            </ul>
        </div>
    </nav>
</div>

<!-- Affichage des cinémas  -->
<div *ngIf="cinemasSearch">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des Cinémas</div>
            <div class="panel-body">
                <ul *ngIf="cinemas" class="nav nav-pills clickable">
                    <li [ngClass]="cinema==clicCinema?'active': ''" *ngFor="let cinema of cinemasSearch">
                        <a (click)="onGetSalles(cinema)">{{cinema.nom}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- affichage des Salles -->
<div class="row" *ngIf="salles">
    <div *ngFor="let salle of salleSearch">
        <div class="col-md-6">
            <div class="panel panel-default">
                <a (click)="onGetSeances(salle)">{{salle.nom}}</a>
            </div>
        </div>
    </div>
</div>

<!-- Affichage Séances -->
<div class="panel-body" *ngIf="seancesSearch">
    <div *ngFor="let seance of seancesSearch">
        <div class="row">
            <div class="col-md-6"><img width="200" height="230" src="{{seance.film.poster}}" /></div>
            <div class="col-md-6">
                <ul class="list-group">
                    <!-- Affichage des haoraires des séances -->
                    <li class="list-group-item"><strong>Programmes des séances</strong></li>
                    <li [ngClass]="seance==clicSeance?'active': ''" (click)="onGetReservationsPlaces(seance)"
                        class="list-group-item clickable">
                        {{seance.horaire|date:'shortTime':'en-US'}} | {{seance.dateSeance|date}}
                    </li>
                    <li class="list-group-item">
                        <ul class="app-ul-block">
                            <li  *ngFor="let place of placesSearch">
                                <!-- <div *ngFor="let place of placesSearch"> -->
                                    <div class="row" *ngIf="place">
                                        <button class="{{onGetPlaceButton(place)}}" (click)="onSelectedPlace(place)">
                                            {{place.id}}
                                        </button>
                                    </div>
                                <!-- </div> -->
                            </li>
                        </ul>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>