<div class="container">
    <nav class="navbar">
        <div class="container">
            <ul *ngIf="villes" class="nav navbar-nav">
             <li [ngClass]="v==clicVille?'active':'' "*ngFor="let v of villes._embedded.villes" class="list-group-item" (click)="onGetCinemas(v)">{{v.nom}}</li>

            </ul>
        </div>
    </nav>
    
   
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des Cinémas</div>
                <div class="panel-body">
                    <ul *ngIf="cinemas" class="nav nav-pills">
                      <li [ngClass]="c==clicCinema?'active': ''" *ngFor="let c of cinemas._embedded.cinemas">
                        <a (click)="onGetSalles(c)">{{c.nom}}</a></li>
                    </ul>
                    <div class="row" *ngIf="salles">
                        <div *ngFor="let s of salles._embedded.salles">
                           <div class="col-md-6"> 
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{s.nom}}</div>

                                      <div class="panel-body" *ngIf="s.seances">
                                        <div class="row">
                                          <div class="col-md-6"><img width="200" height="250" src="{{cinemaService.recup+'/imageFilm/'+s.seances._embedded.seances[0].film.id}}" /></div>  
                                          <div class="col-md-6">
                                            <ul class="list-group">
                                                <li class="list-group-item">Programmes des séances</li>
                                            </ul>
                                          </div>
                                        </div>
                                          
                                    </div>
                                         
                                 </div>
                            </div>
                        </div>
                   </div>
               </div>
        </div>
    </div>

</div>    
<!--
<div class="container">
    
</div>-->
    

<!--<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h1>pied de page</h1> 
            </div>
        </div>
    </div>
</footer> -->


