<div class="container backgroundColor">
  <div class="row row-cols-1 row-cols-md-3" >
      <div class="col mb-4" *ngFor="let movie of movies">
        <div class="card h-100">
          <img src="{{ movie.poster }}" class="card-img-top h-15" alt="{{ movie.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.description }}</p>
            <!-- <a [routerLink]="['/liste', movie.id]" class="btn btn-primary"> voir details</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div align="left">
    <table border="1" cellpadding="5">
      <caption>
        <h2>Liste des films dans la base de données</h2>
      </caption>
      <tr>
        <th>Id</th>
        <th>Titre du film</th>
        <th>Déscription du film</th>
        <th>Durée d film</th>
        <th>Année de sortie du film</th>
        <th>Catégorie du film</th>
        <th>Langue originale du film</th>
      </tr>
      
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.description }}</td>
        <td>{{ movie.duration }}</td>
        <td>{{ movie.releaseyear }}</td>
        <td>{{ movie.category.name }}</td>
        <td>{{ movie.language.nom }}</td> 
      </tr>

      
      </table>
      </div> -->